---
apiVersion: v1
kind: Service
metadata:
  name: tetris-service
spec:
  selector:
    app: tetris
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
       nodePort: 30070
      # Optional, or let Kubernetes auto-assign
